{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<form class="form" method="POST">
    {{ form.hidden_tag() }}
    <div class="container-fluid">
        <div class="row">
            <h4>Data Description</h4>
            <div class="col-md-4">
                <div class="col-md-6" style="padding-right: 0px; padding-left: 0px;">
                    {{ wtf.form_field(form.allergy) }}
                    {{ wtf.form_field(form.care_plan)}}
                    {{ wtf.form_field(form.claim)}}
                    {{ wtf.form_field(form.claim_transaction)}}
                    {{ wtf.form_field(form.condition)}}
                    {{ wtf.form_field(form.device)}}
                    {{ wtf.form_field(form.encounter)}}
                    {{ wtf.form_field(form.imaging_study)}}
                    {{ wtf.form_field(form.immunization)}}
                </div>
                <div class="col-md-6" style="padding-right: 0px; padding-left: 0px;">
                    {{ wtf.form_field(form.medication)}}
                    {{ wtf.form_field(form.observation)}}
                    {{ wtf.form_field(form.organization)}}
                    {{ wtf.form_field(form.patient)}}
                    {{ wtf.form_field(form.payer)}}
                    {{ wtf.form_field(form.payer_transition)}}
                    {{ wtf.form_field(form.procedure)}}
                    {{ wtf.form_field(form.provider)}}
                    {{ wtf.form_field(form.supply)}}
                </div>
            </div>
            <div class="col-md-8">
                {{ wtf.form_field(form.sparql_query) }}
            </div>
        </div>
        <hr class="solid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        {{ wtf.form_field(form.apply_trust_score) }}
                    </div>
                    <div class="col-md-4">
                        {{ wtf.form_field(form.identity)}}
                    </div>
                    <div class="col-md-4">
                        {{ wtf.form_field(form.behavior)}}
                    </div>
                    <div class="col-md-4">
                        {{ wtf.form_field(form.trust_threshold)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ wtf.form_field(form.apply_veracity_score)}}
                    </div>
                    <div class="col-md-3">
                        {{ wtf.form_field(form.credibility)}}
                    </div>
                    <div class="col-md-3">
                        {{ wtf.form_field(form.objectivity)}}
                    </div>
                    <div class="col-md-3">
                        {{ wtf.form_field(form.trustfulness)}}
                    </div>
                    <div class="col-md-3">
                        {{ wtf.form_field(form.veracity_threshold)}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        {{ wtf.form_field(form.limit)}}
                    </div>
                    <div class="col-md-9 text-center" style="padding-top: 25px;">
                        {{ wtf.form_field(form.submit) }}
                    </div>
                </div>
            </div>
        </div>
</form>
<br>


{% if result %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Result</h3>
    </div>
    {{result|safe}}
</div>
{% else %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Info</h3>
    </div>
    <div class="panel-body">
        <p>Query will be generated based on the selected data categories and conditions.</p>
        <!-- 1. Select check box for <code>SELECT</code> variables. <br>
        2. Write condition in <code>SPARQL</code> triples. <br><br>
        Example: <br>
        Select <code>Birth Date</code> and write
        <code>FILTER (?birthdate > "2000-05-23T10:20:13+05:30"^^xsd:dateTime)</code><br>
        It will generate <code>SPARQL</code> query like below and send get the results:
        <pre><code>SELECT ?birthdate
WHERE {
?patient a syn:Patient .
?patient syn:birthdate ?birthdate .
FILTER (?birthdate > "2000-05-23T10:20:13+05:30"^^xsd:dateTime)
}</code></pre> -->
    </div>
</div>
{% endif %}

{% if query %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Query</h3>
    </div>
    <div class="panel-body">
        <pre>{{query|safe}}</pre>
    </div>
</div>
{% endif%}

{% endblock %}