{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="page-header">
    <h2>PATIENT DATA</h2>
</div>
<form class="form" method="POST">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col-md-3">
            {{ wtf.form_field(form.address) }}
            {{ wtf.form_field(form.birthdate) }}
            {{ wtf.form_field(form.birthplace) }}
            {{ wtf.form_field(form.city) }}
            {{ wtf.form_field(form.county) }}
            {{ wtf.form_field(form.deathdate) }}
            {{ wtf.form_field(form.drivers) }}
            {{ wtf.form_field(form.ethnicity) }}
            {{ wtf.form_field(form.firstname) }}
            {{ wtf.form_field(form.gender) }}
        </div>
        <div class="col-md-3">
            {{ wtf.form_field(form.healthcare_coverage) }}
            {{ wtf.form_field(form.healthcare_expenses) }}
            {{ wtf.form_field(form.id_) }}
            {{ wtf.form_field(form.income) }}
            {{ wtf.form_field(form.lastname) }}
            {{ wtf.form_field(form.marital) }}
            {{ wtf.form_field(form.passport) }}
            {{ wtf.form_field(form.race) }}
            {{ wtf.form_field(form.state) }}
            {{ wtf.form_field(form.zip) }}
        </div>
        <div class="col-md-6">
            {{ wtf.form_field(form.sparql_query) }}
        </div>
        <div class="col-md-12">
        
            <h4><span class="label label-primary">USER TRUST SCORE WEIGHTS</span></h4>
            <br>
            <div class="col-md-4">
                {{ wtf.form_field(form.identity)}}
            </div>
            <div class="col-md-4">
                {{ wtf.form_field(form.behavior)}}
            </div>
            <div class="col-md-4">
                {{ wtf.form_field(form.trust_threshold)}}
            </div>
        </div>
        <div class="col-md-12">
            <h4><span class="label label-success">VERACITY SCORE WEIGHTS</span></h4>
            <br>
            <div class="col-md-3">
                {{ wtf.form_field(form.credibility)}}
            </div>
            <div class="col-md-3">
                {{ wtf.form_field(form.objectivity)}}
            </div>
            <div class="col-md-3">
                {{ wtf.form_field(form.trustfulness)}}
            </div>
            <div class="col-md-3">
                {{ wtf.form_field(form.veracity_threshold)}}
            </div>
        </div>
        <div class="col-md-6 text-right">
            {{ wtf.form_field(form.submit) }}
        </div>
    </div>
</form>
<br>
{% if result %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Result</h3>
    </div>
    {{result|safe}}
</div>
{% else %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Info</h3>
    </div>
    <div class="panel-body">
        1. Select check box for <code>SELECT</code> variables. <br>
        2. Write condition in <code>SPARQL</code> triples. <br><br>
        Example: <br>
        Select <code>Age</code> and write
        <code>FILTER (?birthdate > "2000-05-23T10:20:13+05:30"^^xsd:dateTime)</code><br>
        It will generate <code>SPARQL</code> query like below and send get the results:
        <pre><code>SELECT ?birthdate
WHERE {
?patient a syn:Patient .
?patient syn:birthdate ?birthdate .
FILTER (?birthdate > "2000-05-23T10:20:13+05:30"^^xsd:dateTime)
}</code></pre>
    </div>
</div>
{% endif %}

{% endblock %}