{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

<!-- https://getbootstrap.com/docs/3.4/css/#grid -->

{% block app_content %}
<div class="form-group">
    <label class="control-label col-sm-offset-2 col-sm-2" for="company">Class</label>
    <div class="col-sm-6 col-md-4">
      <select id="company" class="form-control">
        <option>Patient</option>
        <option>Encounter</option>
        <option>Observation</option>
        <option>Organization</option>
        <option>Payer</option>
        <option>Provider</option>
      </select> 
    </div>
  </div>
<!-- <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true">
        Data Class
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Patient</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Encounter</a></li>
        <li><a href="#">Observation</a></li>
        <li><a href="#">Organization</a></li>
        <li><a href="#">Payer</a></li>
        <li><a href="#">Provider</a></li>
    </ul>
</div> -->

<br>
<br>

<div class="row">
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="...">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control" aria-label="...">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
{% endblock %}