{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="page-header">
    <h1>SPARQL</h1>
</div>

<div class="row">
    <div class="col-lg-12">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<br>

{% if result %}
<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Result</h3>
    </div>
    {{result|safe}}
</div>
{% else %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Info</h3>
    </div>
    <div class="panel-body">
        Submit SPARQL query first. <br><br>
        Example: <br>
    <pre><code>PREFIX syn: &lt;https://knacc.umbc.edu/leroy/ontologies/synthea#&gt;
SELECT ?patient 
WHERE {
    ?patient a syn:Patient.
} </code></pre>
    </div>
</div>
{% endif %}

{% endblock %}